.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  z-index: 99;
}

.navbarActive {
  background-color: rgba(13, 146, 210, 1);
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  z-index: 99;
}

.logo {
  width: 500px;
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.logo h2 {
  margin-top: 25px;
  margin-right: 10px;
}

.navLinks {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 50px 20px 20px;
  /* margin-right: 60px; */
  /* margin-top: 30px; */
}

.navLinks a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
}

.burger {
  display: none;
}

.bars {
  font-size: 40px;
  margin-top: 40px;
  margin-right: 20px;
}

.burgerMenuHidden {
  display: none;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: #000;
}

.burgerMenuShown {
  background: rgba(13, 146, 210, 0.5);
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 120px;
  display: block;
}

.burgerMenuShown ul {
  list-style: none;
}

.burgerMenuShown ul li {
  font-size: 2em;
}

.burgerMenuShown a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 625px) {
  .burger {
    display: block;
  }

  .navLinks {
    display: none;
  }
}
